// $primary: #05386B;
// $secondary: #379683;
// $color-three: #5CDB95;
// $color-four: #8EE4AF;
// $color-five: #EDF5E1;

$primary: #F76C6C;
$secondary: #374785;
$color-three: #AED0E6;
$color-four: #24305E;
$color-five: #F8E9A1;