<h1>Hi, my name is <a id="special-link" href="/">Brian.</a> Over the years I've worked in programming, design, and as a teacher in the peace corps. On this page you can find my
    <a class="link" href="/programs">
      programming experiments,
    </a>
    <a id="design-content" class="link" href="/designs">
      artwork,
    </a>
    and
    <a class="link" href="/music">
      music.
    </a>
  </h1>
  <div class="d-flex align-bottom py-5">
    <a href="https://twitter.com/winter_foe"><i id="twitter" class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/brian-sekelsky-467776a7/"><i id="linkedin" class="fab fa-linkedin-in"></i></a>
    <a href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ?view_as=subscriber"><i id="youtube" class="fab fa-youtube"></i></a>
    <a href="https://soundcloud.com/winter-foe"><i id="soundcloud" class="fab fa-soundcloud"></i></a>
  </div>